<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!--定义日志文件的参数：输出级别、输出存储位置、日志格式等-->
    <springProperty scope="context" name="logLevel" source="logging.log-level"/>
    <springProperty scope="context" name="logPath" source="logging.path"/>
    <springProperty scope="context" name="projectName" source="spring.application.name"/>
    <property name="pattern"
              value="%date{yyyy-MM-dd HH:mm:ss} %highlight([%-5level]) %boldYellow(%logger{50}) - %msg%n"/>

    <!--控制台输出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!--每天生成日志文件-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${projectName}/day/logs.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${logPath}/${projectName}/day/logs-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出-->
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!--controller层的文件单独记录-->
    <appender name="CONTROLLER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${projectName}/controller/logs.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${logPath}/${projectName}/controller/logs-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出-->
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!--kind的文件单独记录-->
    <appender name="KIND" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${projectName}/kind/logs.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${logPath}/${projectName}/kind/logs-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出-->
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!--日志输出级别-->
    <root level="${logLevel}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <!--打印sql语句-->
    <logger name="top.aries.kind.mapper" level="DEBUG"></logger>

    <logger name="top.aries.kind.controller" level="DEBUG">
        <appender-ref ref="CONTROLLER"/>
    </logger>

    <logger name="kind" level="DEBUG">
        <appender-ref ref="KIND"/>
    </logger>

    <!--升高打印的日志级别,避免日志过多-->
    <logger name="com.netflix.discovery" level="INFO"></logger>
    <logger name="org" level="INFO"></logger>

    <!--日志异步到数据库 -->
    <![CDATA[  <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <!--日志异步到数据库 --> 
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
           <!--连接池 --> 
           <dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">
              <driverClass>com.mysql.jdbc.Driver</driverClass>
              <url>jdbc:mysql://127.0.0.1:3306/databaseName</url>
              <user>root</user>
              <password>root</password>
            </dataSource>
        </connectionSource>
    </appender>]]>

</configuration>